.chat-box {
    height: 75vh;
    position: relative;
    background-color: #F6F9FC; /* Soft neutral background */
  }
  
  .chat-user {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #D3D3D3;
    background-color: #E3ECF3; /* Light bluish bar for user info */
  }
  
  .chat-user img {
    width: 25px;
    border-radius: 50%;
  }
  
  .chat-user img:first-child {
    width: 38px;
    aspect-ratio: 1 / 1;
  }
  
  .chat-user p {
    flex: 1;
    font-weight: 500;
    font-size: 18px;
    color: #222831; /* Darker, softer black */
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background: #FFFFFF;
    border-top: 1px solid #E0E0E0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .chat-input img {
    width: 28px;
    cursor: pointer;
  }
  
  .chat-input label {
    display: flex;
  }
  
  .chat-input label img {
    width: 22px;
  }
  
  .chat-input input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 13px;
  }
  
  .chat-msg {
    height: calc(100% - 70px);
    padding-bottom: 60px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .s-msg,
  .r-msg {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 5px;
    padding: 0px 15px;
  }
  
  .r-msg {
    flex-direction: row-reverse;
    justify-content: start;
  }
  
  .s-msg div img,
  .r-msg div img {
    width: 27px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  
  .s-msg div,
  .r-msg div {
    text-align: center;
    font-size: 9px;
  }
  
  .msg {
    color: white;
    background-color: #007BFF; /* A solid, modern blue */
    padding: 8px;
    max-width: 220px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 8px 8px 0px 8px;
    margin-bottom: 30px;
  }
  
  .r-msg .msg {
    background-color: #ECECEC;
    color: #333;
    border-radius: 8px 8px 8px 0px;
  }
  
  .msg-img {
    max-width: 230px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .chat-welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .chat-welcome img{
    width: 60px;
  }
  .chat-welcome p{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
  }